.sticky-footer {
    position: sticky;
    top: 100%;
}

.fab{
    /*font-size: 35pt;*/
    padding-right: 1vw;
}

.fab:hover{
    font-size: 50pt;
    z-index: 1;
}

footer{
    background-color:rgba(96, 206, 241, 0.8);
}

.bg-footer-cp{
    background-color: #33B3DC;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-control{
    border-radius: 15px;
}

.sb{
    width: 100px;
}


