.sticky-footer {
    position: sticky;
    top: 100%;
}

.fab{
    font-size: 35pt;
    padding-right: 1vw;
    cursor: pointer;
    transition: 0.3s;
}

.fa-facebook-square:hover {
    color: #1877f1;
    transition: 0.3s;
    transform: scale(1.5);
}

.fa-linkedin:hover {
    color: #0a66c1;
    transition: 0.3s;
    transform: scale(1.5);
}

.fa-instagram-square:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
    transform: scale(1.5);
}

.fa-twitter-square:hover {
    color: #2aa8e0;
    transition: 0.3s;
    transform: scale(1.5);
}

footer{
    background-color:rgba(96, 206, 241, 0.8);
}

.bg-footer-cp{
    background-color: #33B3DC;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-control{
    border-radius: 15px;
}

.sb{
    width: 100px;
}

input::selection {
  color: white;
  background: rgba(96, 206, 241, 0.8);
}



