<footer class="sticky-footer page-footer font-small pt-4">
  <div class="container-fluid my-3">
    <div class="row d-flex align-items-top py-2 m-0 justify-content-between">
      <div
        class="
          col-lg-3 col-md-2 col-sm-4
          d-flex
          justify-content-center
          align-items-center
        "
      >
        <picture
          ><img
            class="img-fluid mb-1"
            src="../../assets/img/icon/Ativo 5 font-nyala.png"
            alt="logo"
        /></picture>
      </div>

      <div class="col-lg-3 col-md-5 col-sm-4 mt-2">
        <h2 class="text-light text-center text-weight-bolder">Siga-nos nas redes sociais</h2>
        <h1 class="text-center text-dark">
          <a href="" target="_blank" class="iconFacebook"></a>
          <i class="fab fa-facebook-square"></i>

          <a href="" target="_blank" class="iconLinkedin"></a>
          <i class="fab fa-linkedin"></i>

          <a href="" target="_blank" class="iconYoutube"></a>
          <i class="fab fa-youtube"></i>

          <a href="" target="_blank" class="iconInstagram"></a>
          <i class="fab fa-instagram-square"></i>

          <a href="" target="_blank" class="iconTwitter"></a>
          <i class="fab fa-twitter-square"></i>
        </h1>
      </div>

      <div class="col-lg-3 col-md-5 col-sm-4 justify-content-end">
        <div class="form-group container-fluid">
          <h4 class="text-light">Contato</h4>
          <input
            disabled
            class="form-control"
            type="text"
            name="contato"
            id="contato"
            placeholder="(11) 4002-8926"
          />

          <input
            disabled
            class="form-control mt-2"
            type="text"
            name="email"
            id="email"
            placeholder="saudedobem@gmail.com"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="bg-footer-cp mx-5 text-center py-2 my-0">
    <span class="text-light"
      >Politica de Privacidade | 2021 RD. Todos os Direitos Reservados</span
    >
  </div>
</footer>
