<footer class="page-footer font-small bg-footer pt-4">
<div class="container">
   

    <div class="row">
       
        <div class="col-md-8 d-flex justify-content-end">
           
             
        

            <ul class="redes-sociais">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>

                <li>
                    <a href="" target="_blank" class="iconFacebook"></a>
                    <i class="fab fa-facebook-square"></i>

                </li>

                <li>
                    <a href="" target="_blank" class="iconLinkedin"></a>
                    <i class="fab fa-linkedin"></i>
                    
                </li>

                <li>
                    <a href="" target="_blank" class="iconYoutube"></a>
                    <i class="fab fa-youtube"></i>
                    
                </li>

                <li>
                    <a href="" target="_blank" class="iconInstagram"></a>
                    <i class="fab fa-instagram-square"></i>
                    
                </li>

                <li>
                    <a href="" target="_blank" class="iconTwitter"></a>
                    <i class="fab fa-twitter-square"></i>
                    
                </li>

            </ul>

        </div>

        <div class="col-md-4 d-flex justify-content-center">

            <div class="form-group">
                <label class="text-light font-weight-bold" for="contato">Contato</label>
                <input  disabled class="form-control" type="text" name="contato" id="contato" placeholder="(11) 4002-8926">
                
                <input  disabled class="form-control mt-2" type="text" name="email" id="email" placeholder="saudedobem@gmail.com">
               
            </div>

        </div>
    </div>

</div>


<div class="footer-copyright bg-footer-cp mx-4 text-center py-2">
    <span class="text-light">Politica de Privacidade | 2021 RD. Todos os Direitos Reservados</span>

</div>


</footer>
