<footer class="sticky-footer page-footer font-small pt-4">
  <div class="container-fluid my-3">
    <div class="row d-flex align-items-top py-2 m-0 justify-content-between">
      <div
        class="
          col-lg-3 col-md-2 col-sm-4
          d-flex
          justify-content-center
          align-items-center
        "
      >
        <picture
          ><img
            class="img-fluid mb-1 ml-5"
            src="../../assets/img/icon/Ativo 6.png"
            alt="logo"
        /></picture>
      </div>

      <div class="col-lg-3 col-md-5 col-sm-4 mt-2">
        <h2 class="text-light text-center text-weight-bolder">Siga-nos nas redes sociais</h2>
        <div class="d-flex justify-content-center mt-3">
          <a href="https://www.facebook.com/Saude-do-Bem-103621578679515" target="_blank" class="iconFacebook"><i class="fab fa-facebook-square"></i></a>
          

          <a href="https://www.linkedin.com/in/saude-bem-036896217/" target="_blank" class="iconLinkedin"> <i class="fab fa-linkedin"></i></a>
         

          <a href="https://www.instagram.com/saudedobem6/" target="_blank" class="iconInstagram"><i class="fab fa-instagram-square"></i></a>
          

          <a href="https://twitter.com/SaudeDoBem1" target="_blank" class="iconTwitter"><i class="fab fa-twitter-square"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-5 col-sm-4">
        <div class="form-group mr-5">
          <h4 class="text-light">Contato</h4>
          <input
            disabled
            class="form-control"
            type="text"
            name="contato"
            id="contato"
            value="(11) 4002-8926"
          />

          <input
            disabled
            class="form-control mt-2"
            type="text"
            name="email"
            id="email"
            value="saudedobem@gmail.com"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="bg-footer-cp mx-5 text-center py-2 my-0">
    <span class="text-light"
      >Politica de Privacidade | 2021 RD. Todos os Direitos Reservados</span
    >
  </div>
</footer>
