<div class="container-fluid align-items-center justify-content-center p-3" id="img-bg">
    <div class="container card bg-light justify-content-center mt-3">
        <div class="row d-flex justify-content-center align-items-center p-3">
            <h1 class="text-black text-center p-1">Entre em contato conosco</h1>
        </div>
        <form class="p-4">
        <div class="row d-flex">
            <div class="col-md-5 p-2">
                <div class="form-group">
                    <label for="Nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Insira seu nome completo">
                </div>
                <div class="form-group">
                    <label for="E-mail">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="email@dominio.com">
                </div>
                <div class="form-group">
                    <label for="Tel">Telefone</label>
                    <input type="text" class="form-control" id="tel" placeholder="(xx) 99999-9999">
                </div>
            </div>
            <div class="col-md-7 p-2 form-group align-items-center">
                <div class="form-group">
                    <label for="assunto">Assunto</label>
                    <input type="text" class="form-control" id="assunto" placeholder="Assunto da Mensagem">
                </div>
                <label for="msg">Digite sua mensagem:</label>
                <textarea class="form-control" id="msg" rows="4" placeholder="Insira sua mensagem aqui"></textarea>
                <div class="row d-flex justify-content-center align-items-center p-4">
                    <div class="col-6"><button type="submit" class="btn btn-danger btn-block">Limpar</button></div>
                    <div class="col-6"><button type="submit" class="btn btn-success btn-block">Enviar</button></div>
                </div>
            </div>
        </div>
        </form>
        <hr>
        <div class="row d-flex justify-content-center align-items-center p-3">
            <h3 class="text-black text-center p-1">Nossa localização</h3>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-5 p-2 justify-content-center">
                <p class="text-black text-center">Nos visite! Estamos localizados em:</p>
                <p class="text-black text-center">Av. dos Peixes, 88 - Jardim Parque Jupia</p>
                <p class="text-black text-center">Piracicaba - SP</p>
                <p class="text-black text-center">13403-320</p>
            </div>

            <div class="col-md-7 p-4">
                <div class="video-container">
                    <iframe class="youtube"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.375843125771!2d-47.682760285054314!3d-22.71426773674005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c6315413c90a15%3A0xaf7eb1365533f65d!2sAv.%20dos%20Peixes%2C%2088%20-%20Jardim%20Parque%20Jupia%2C%20Piracicaba%20-%20SP%2C%2013403-320!5e0!3m2!1spt-BR!2sbr!4v1624891402204!5m2!1spt-BR!2sbr"
                        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>