<div class="container my-4 p-3 bg-light card">
  <h1 class="text-center font-weight-bold">Quem Somos</h1>
  <div class="d-flex row justify-content-center mb-5">
    <div class="col-md-7">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      quisquam eius vero dolores deserunt repudiandae eaque quam adipisci,
      recusandae sit ad eveniet cumque inventore repellat quo modi. Culpa
      adipisci, expedita aperiam perferendis numquam maiores quae inventore
      impedit dolor vel necessitatibus voluptate harum dolores quod laboriosam
      aut eligendi, voluptatum dolorum reprehenderit cum. Temporibus, ducimus
      minima! Voluptas ea, consequatur velit culpa enim corrupti suscipit magnam
      maiores error facilis nam eaque numquam fugit laboriosam incidunt officia
      soluta tempora recusandae? Saepe, ullam temporibus nulla esse recusandae
      doloremque eaque autem facere omnis cupiditate odio quos corporis, optio
      consequuntur repellat assumenda alias fugiat incidunt quisquam magnam!
    </div>
    <div class="col-md-3">
      <img src="../../assets/img/icon/cart.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="d-flex row justify-content-center mb-4">
    <div class="col-md-3">
      <img src="../../assets/img/icon/cart.png" alt="" class="img-fluid" />
    </div>
    <div class="col-md-7">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      quisquam eius vero dolores deserunt repudiandae eaque quam adipisci,
      recusandae sit ad eveniet cumque inventore repellat quo modi. Culpa
      adipisci, expedita aperiam perferendis numquam maiores quae inventore
      impedit dolor vel necessitatibus voluptate harum dolores quod laboriosam
      aut eligendi, voluptatum dolorum reprehenderit cum. Temporibus, ducimus
      minima! Voluptas ea, consequatur velit culpa enim corrupti suscipit magnam
      maiores error facilis nam eaque numquam fugit laboriosam incidunt officia
      soluta tempora recusandae? Saepe, ullam temporibus nulla esse recusandae
      doloremque eaque autem facere omnis cupiditate odio quos corporis, optio
      consequuntur repellat assumenda alias fugiat incidunt quisquam magnam!
    </div>
  </div>
  <hr />
  <div class="d-flex row justify-content-center p-5">
    <h1 class="text-center font-weight-bold">Apoiadores</h1>
    <div class="d-flex row justify-content-center">
      <div class="col">
        <img src="../../assets/img/icon/cart.png" alt="" class="img-fluid" />
      </div>
      <div class="col">
        <img src="../../assets/img/icon/cart.png" alt="" class="img-fluid" />
      </div>
      <div class="col">
        <img src="../../assets/img/icon/cart.png" alt="" class="img-fluid" />
      </div>
      <div class="col">
        <img src="../../assets/img/icon/cart.png" alt="" class="img-fluid" />
      </div>
      <div class="col">
        <img src="../../assets/img/icon/cart.png" alt="" class="img-fluid" />
      </div>
      <div class="col">
        <img src="../../assets/img/icon/cart.png" alt="" class="img-fluid" />
      </div>
      <div class="col">
        <img src="../../assets/img/icon/cart.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
<div class="container my-4 py-3 px-5 bg-light card">
  <h1 class="text-center font-weight-bold">Desenvolvedores</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 p-1 card">
      <img
        src="https://avatars.githubusercontent.com/u/83592613?v=4"
        alt=""
        class="img-fluid profile"
      />
      <h3 class="text-center">Erik Gabriel</h3>
      <div class="row d-flex justify-content-center p-0 m-0">
        <h2><i class="fab fa-github-square mx-1"></i></h2>
        <h2><i class="fab fa-linkedin mx-1"></i></h2>
      </div>
    </div>
    <div class="col-md-4 p-1 card">
      <img
        src="https://avatars.githubusercontent.com/u/68036464?v=4"
        alt=""
        class="img-fluid profile"
      />
      <h3 class="text-center">Miguel Gabriel</h3>
      <div class="row d-flex justify-content-center p-0 m-0">
        <h2><i class="fab fa-github-square mx-1"></i></h2>
        <h2><i class="fab fa-linkedin mx-1"></i></h2>
      </div>
    </div>
    <div class="col-md-4 p-1 card">
      <img
        src="https://avatars.githubusercontent.com/u/83593620?v=4"
        alt=""
        class="img-fluid profile"
      />
      <h3 class="text-center">Tokunbo Gabriel</h3>
      <div class="row d-flex justify-content-center p-0 m-0">
        <h2><i class="fab fa-github-square mx-1"></i></h2>
        <h2><i class="fab fa-linkedin mx-1"></i></h2>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 p-1 card">
      <img
        src="https://avatars.githubusercontent.com/u/83592437?v=4"
        alt=""
        class="img-fluid profile"
      />
      <h3 class="text-center">Gabriel Gabriel</h3>
      <div class="row d-flex justify-content-center p-0 m-0">
        <h2><i class="fab fa-github-square mx-1"></i></h2>
        <h2><i class="fab fa-linkedin mx-1"></i></h2>
      </div>
    </div>
    <div class="col-md-4 p-1 card">
      <img
        src="https://avatars.githubusercontent.com/u/83593362?v=4"
        alt=""
        class="img-fluid profile"
      />
      <h3 class="text-center">João Gabriel</h3>
      <div class="col d-flex justify-content-center p-0 m-0">
        <h2><i class="fab fa-github-square mx-1"></i></h2>
        <h2><i class="fab fa-linkedin mx-1"></i></h2>
      </div>
    </div>
    <div class="col-md-4 p-1 card">
      <img
        src="https://avatars.githubusercontent.com/u/83593362?v=4"
        alt=""
        class="img-fluid profile"
      />
      <h3 class="text-center">Thiago Gabriel</h3>
      <div class="row d-flex justify-content-center p-0 m-0">
        <h2><i class="fab fa-github-square mx-1"></i></h2>
        <h2><i class="fab fa-linkedin mx-1"></i></h2>
      </div>
    </div>
  </div>
</div>
