button {
  border-radius: 15px;
}

button:focus {
  box-shadow: none;
}

input {
  border-radius: 15px;
  border: 2px solid;
  border-color: #ABABAB;
}

input:focus{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  transition: 0.5s;
}

input::selection {
  color: white;
  background: #E06767;
}

input:hover{
  border-color: #E94C4C;
  transition:0.25s;
}

.btn-modal {
  background-color: #E06767;
  border: none;
}

.btn-modal:hover{
  box-shadow: rgb(255, 0, 0) 0px 0px 5px;
  transition: 0.25s;
}

.btn-modal:active{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

.btn-modal:focus{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

.corList {
  background-color: #E06767;
}

.bg-corDrop {
  background-color: #b3b3b3;
  border-radius: 15px;
}

.dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
  border-radius: .25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #e6e6e6;
  border-bottom: 0;
  transition: 0.5s;
}

.custom-drop {
  border: 0;
  border-top-left-radius: 0;
  margin-top: 0;
  background-color: #e6e6e6;
  box-shadow: none;
}

.custom-drop:focus {
  background-color: #b3b3b3;
  transition: 0.5s;
}

.voltar-top:hover {
  cursor: pointer;
}

.bordaList {
  border-radius: 25px;
}

.button1 {
  display: block;
  background-color: #e06767;
  color: white;
  border: none;
  font-size: 0.70rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.button1:hover{
  box-shadow: rgb(255, 0, 0) 0px 0px 5px;
  transition: 0.25s;
}

.button1:active{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

.button1:focus{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

.button2 {
  display: block;
  background-color: #33b3dc;
  color: white;
  border: none;
  font-size: 0.70rem;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  
}

.button2:hover {
  cursor: default;
}

.form-control {
  box-shadow: none;
}

.card{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}