<!--drop e titulo -->

<div class="d-flex justify-content-around mt-4">
    <h4 class="d-flex justify-content-end mr-4">Recomendamos esses produtos para a "doença"</h4>

    <div class="d-flex ">
        <div class="dropdown  mx-2">
            <a class="btn bg-corDrop dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                filtrar por
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Alguma ação</a>
                <a class="dropdown-item" href="#">Outra ação</a>
                <a class="dropdown-item" href="#">Alguma coisa aqui</a>
            </div>
        </div>
        <div class="dropdown mx-2 ">
            <a class="btn bg-corDrop dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Listar por
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Alguma ação</a>
                <a class="dropdown-item" href="#">Outra ação</a>
                <a class="dropdown-item" href="#">Alguma coisa aqui</a>
            </div>
        </div>
    </div>
</div>



<!-- Lista e Produtos -->

<div class="mt-5  text-center container-fluid">
    <div class="row">
        <div class="col-md-2 ml-5">
            <div class="list-group bordaList corList">
                <button type="button" class=" corList text-light list-group-item list-group-item-action " disabled>
                    <h4>Todos Produtos</h4>
                </button>
                <button type="button"
                    class="corList text-light list-group-item list-group-item-action">Genêrico</button>
                <button type="button" class="corList text-light list-group-item list-group-item-action">Similar</button>
                <button type="button"
                    class="corList text-light list-group-item list-group-item-action">Referência</button>
                <button type="button" class="corList text-light list-group-item list-group-item-action"
                    disabled></button>
            </div>
        </div>

        <div class="col-md-9 d-flex flex-wrap">
            <div class="card m-2 " style="width: 13rem;">
                <img class="card-img-top " src="https://i.imgur.com/jftJJdb.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-success">Comprar</a>
                </div>
            </div>

            <div class="card  m-2 " style="width: 13rem;">
                <img class="card-img-top" src="https://i.imgur.com/jftJJdb.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-success">Comprar</a>
                </div>
            </div>

            <div class="card  m-2" style="width: 13rem;">
                <img class="card-img-top" src="https://i.imgur.com/jftJJdb.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-success">Comprar</a>
                </div>
            </div>

            <div class="card  m-2" style="width: 13rem;">
                <img class="card-img-top" src="https://i.imgur.com/jftJJdb.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-success">Comprar</a>
                </div>
            </div>

            <div class="card  m-2 " style="width: 13rem;">
                <img class="card-img-top" src="https://i.imgur.com/jftJJdb.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-success">Comprar</a>
                </div>
            </div>

            <div class="card  m-2" style="width: 13rem;">
                <img class="card-img-top" src="https://i.imgur.com/jftJJdb.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-success">Comprar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="d-flex justify-content-end">Voltar ao topo</p>
        </div>
    </div>
</div>