<!--drop e titulo -->

<div class="d-flex justify-content-around mt-4">
    <h4 class="d-flex justify-content-end mr-4" id="#home">Estes medicamento são recomendados para a doença: (........)
    </h4>

    <div class="d-flex ">
        <div class="dropdown  mx-2">
            <a class="btn bg-corDrop dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Genérico</a>
                <a class="dropdown-item" href="#">Similar</a>
                <a class="dropdown-item" href="#">Referência</a>
            </div>
        </div>
        <div class="dropdown mx-2 ">
            <a class="btn bg-corDrop dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Listar por
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Maior Preço</a>
                <a class="dropdown-item" href="#">Menor Preço</a>
                <a class="dropdown-item" href="#"></a>
            </div>
        </div>
    </div>
</div>



<!-- Lista e Produtos -->

<div class="mt-5  text-center container-fluid">
    <div class="row">
        <div class="col-md-2 ml-5">
            <div class="list-group bordaList corList" style="width: 17rem;">
                <button type="button" class=" corList text-light list-group-item list-group-item-action " disabled>
                    <h4>Medicamentos Para:</h4>
                </button>
                <button type="button"
                    class="corList text-light list-group-item list-group-item-action">Diabetes</button>
                <button type="button" class="corList text-light list-group-item list-group-item-action">Asma</button>
                <button type="button"
                    class="corList text-light list-group-item list-group-item-action">Depressão</button>
                    <button type="button"
                    class="corList text-light list-group-item list-group-item-action">Hipertensão</button>
                    <button type="button"
                    class="corList text-light list-group-item list-group-item-action">Gripe</button>

                <button type="button" class="corList text-light list-group-item list-group-item-action"
                    disabled></button>

            </div>
        </div>
        <div class="container my-4 py-3 px-3 bg-light card">
            <div class="col-md-9 d-flex flex-wrap">
                <div *ngFor='let medicamento of listaMedicamentos' class="card m-2 " style="width: 13rem;">
                    <img class="card-img-top" src={{medicamento.foto}} alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">{{medicamento.nome}}</h5>
                        <p class="card-text"></p>
                        <div class="card-footer p-0">
                            <div class="container">
                                <div class="row d-flex align-items-stretch">
                                    <div class="col-md-6 p-0 align-items-stretch"><button type="button" class="btn btn-block btn-primary button2">R$12,99 </button></div>
                                    <div class="col-md-6 p-0 align-self-stretch"><button type="button" class="btn btn-block btn-secondary button1">DETALHES</button></div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="d-flex justify-content-end"><a routerLink="['./']" fragment="home" class="text-black">Voltar ao
                    topo</a></p>
        </div>
    </div>
</div>