<nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar">
    <a class="navbar-brand" href="#"><img class="sb" src="../../assets/img/icon/sb.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="letter" href="#">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="letter" href="#">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="letter" href="#">Contato</a>
            </li>
        </ul>

        <form class="form-container">
            <input class="form-control form-rounded input" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <i class="fas fa-search input-icon"></i>
        </form>

        <ul class="navbar-nav ml-auto mb-2">
            <li class="nav-item d-flex align-items-center">

                <a class="p-2 custom-cart" href=""><i class="ml-auto mr-3 fas fa-shopping-cart icon"></i></a>

                <button class="p-2 custom-button" id="btn-red">
                    <p class="login m-0 d-flex align-items-center">
                        <i class="pr-2 fas fa-user-circle perfil"></i>
                        Login | Cadastro
                    </p>
                </button>
            </li>
        </ul>
    </div>
</nav>