<nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="row navbar-nav">
            <li>
                <a class="nav-item nav-link" href="#">Produtos</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="#">Sobre</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="#">Contato</a>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <form class="form-container">
            <input class="form-control form-rounded input" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <i class="fas fa-search input-icon"></i>
        </form>
    </div>

    <div class="icon collapse navbar-collapse" id="navbarNavAltMarkup">
        <i class="ml-auto p-2 fas fa-shopping-cart"></i>
    </div>
    

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <button class="p-2 custom-button" type="submit"><i class="fas fa-user-circle mr-3"></i>Login |
            Cadastro</button>
    </div>

</nav>