.form-rounded {
  border-radius: 2rem;
}

.size {
  font-size: 5rem;
}

.icon {
  color: #b3b3b3;
  font-size: 20pt;
}


.icon:hover {
  color: #000000;
  cursor: pointer;
  transition: 0.25s;
}

a{
  text-decoration: none;
}


/*mobile*/
@media screen and (min-width: 0px) and (max-width: 990px) {


  .nav-bar {
    width: 100%;
    padding-top: 0;
    padding-right: 2;
    padding-left: 2;

  }

  /*Icone do perfil*/
  .perfil {
    display: none;
  }
  /*Botão de login*/
  .login {
    display: flex;
    justify-content: center;
    font-size: 11pt;
  }

  /*Botões customizados*/
  .custom-cart {
    background-color: #E06767;
    color: #ffff;
    width: 100%;
    border: none;
    margin-top: 10px;
    margin-right: 2px;
    border-radius: 12px;
  }

  .icon {
    display: flex;
    justify-content: center;
    color: #ffff;
    padding: 2px;
    font-size: 12pt;

  }

  .icon:hover {
    color: #ffff;
    cursor: pointer;
    transition: 0.5s;
  }


  .custom-button {
    font-size: 14pt;
    background-color: #E06767;
    color: #ffff;
    width: 100%;
    border: none;
    margin-top: 10px;
    margin-left: 2px;
    border-radius: 12px;
    outline: none;
  }

  /*Icone de pesquisa*/
  .form-container {
    position: relative;
  }

  .input {
    height: auto;
    margin: 0;
    padding-right: 30px;
    width: 100%;
    border-radius: 2rem;

  }

  .input-icon {
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 24px;
    height: 24px;
  }
}

/*desktop*/
@media screen and (min-width: 990px) and (max-width: 9998px) {

  /*corpo */
  .nav-bar {
    width: 100%;
    padding-top: 0;
    padding-right: 0;

  }

  .fa-user-circle {
    font-size: 18pt;
  }

  .custom-button {
    font-size: 14pt;
    background-color: #E06767;
    color: #ffff;
    border: none;
    border-bottom-left-radius: 25px;
    width: 200px;
    height: 63px;
    right: 0px;
    top: 0px;
    padding: 30px;
    outline: none;
  }

  /*Icone de pesquisa*/
  .form-container {
    position: relative;
  }

  .input {
    height: auto;
    margin: 0;
    padding-right: 30px;
    width: 400px;
    border-radius: 2rem;

  }

  .input-icon {
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 24px;
    height: 24px;
  }
}

/*icone de logo*/
.sb {
  width: 12rem;
}

/*font color*/
.letter {
  padding-right: 4rem;
  color: #33B3DC;
  text-decoration: none;
  font-size: 15pt;
  transition: 0.3s;
}

.letter:hover {
  color: #1f6f8a;
  font-size: 17pt;
  transition: 0.3s;
}
