.form-rounded {
  border-radius: 2rem;
}

.size {
  font-size: 5rem;
}

@media screen and (min-width: 0px) and (max-width: 990px) {
  .nav-bar {
    width: 100%;
    padding-top: 0;
    padding-right: 2;
    padding-left: 2;

  }

  .icon {
    display: none;
  }

  .custom-button {
    font-size: 14pt;
    background-color: #E06767;
    color: #ffff;
    width: 100%;
    border: none;
    margin-top: 10px;
  }

  /*Icone de pesquisa*/
  .form-container {
    position: relative;
  }

  .input {
    height: auto;
    margin: 0;
    padding-right: 30px;
    width: 100%;
    border-radius: 2rem;

  }

  .input-icon {
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 24px;
    height: 24px;
  }
}


@media screen and (min-width: 990px) and (max-width: 9998px) {

    /*corpo */
  .nav-bar {
    width: 100%;
    padding-top: 0;
    padding-right: 0;

  }

  .icon {
    display: hidden;
  }

  .custom-button {
    font-size: 14pt;
    background-color: #E06767;
    color: #ffff;
    border: none;
    border-bottom-left-radius: 25px;
    width: 190px;
    height: 60px;
    right: 0px;
    top: 0px;
    padding: 30px;
  }

  /*Icone de pesquisa*/
  .form-container {
    position: relative;
  }

  .input {
    height: auto;
    margin: 0;
    padding-right: 30px;
    width: 400px;
    border-radius: 2rem;

  }

  .input-icon {
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 24px;
    height: 24px;
  }
}

/*icone de logo*/
.sb {
  width: 50px;
}

/*font color*/
.letter{
    padding: 5px;
    color: #33B3DC;
}