<h1 class="text-center">Endereço de Entrega</h1>
<!-- Formulários -->

<div class="container">

    <form class=" mt-4 ">
        <div class="form-row ">
            <div class="form-group col-md-6">
                <label for="inputEndereco">Endereço</label>
                <input type="text" class="form-control borda" id="inputEndereco" placeholder="Ex: Rua Santos">
            </div>
            <div class="form-group col-md-2">
                <label for="inputNumero">Número</label>
                <input type="numero" class="form-control borda" id="inputNumero" placeholder="Nº 00">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputComplemento">Complemento</label>
                <input type="text" class="form-control borda" id="inputComplemento" placeholder="Ex: Rio Branco">
            </div>
            <div class="form-group col-md-4">
                <label for="inputBairro">Bairro</label>
                <input type="text" class="form-control borda" id="inputBairro" placeholder="Ex: Bairro da Liberdade">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCidade">Cidade</label>
                <input id="inputCidade" class="form-control borda" placeholder="Ex: São Paulo"/>
            </div>
            <div class="form-group col-md-4">
                <label for="inputEstado">Estado</label>
                <select id="inputEstado" class="form-control borda">
                    <option selected>Escolha um Estado:</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                </select>
            </div>
        </div>
    </form>

</div>
<!-- /Formulários -->
<h2 class="text-center mt-3">Forma de pagamento</h2>

<!-- nav -->

<div class="container  mb-5 mt-5 " id="postagens">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center " id="nav-tab" role="tablist">

            <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-boleto-tab" data-toggle="tab"
                href="#boleto" role="tab" aria-controls="nav-boleto" aria-selected="true">Boleto</a>


            <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-cartao-tab" data-toggle="tab"
                href="#cartao" role="tab" aria-controls="nav-cartao" aria-selected="false">Cartão</a>
        </div>
    </nav>
    <div class="tab-content " id="nav-tabContent">
        <div class="tab-pane fade show active " id="boleto" role="tabpanel" aria-labelledby="nav-boleto-tab">

            <form class="mt-2  col-md-12">

                <p class="text-center">O boleto pode ser pago até em 30 dias, se não houver pagamento após o período a compra sera cancelada.</p>

                <div class="d-flex justify-content-center ">
                    <button type="button" class="btn btn-danger mx-5">Cancelar</button>
                    <button routerLink='/concluir-compra' type="button" class="btn btn-success">Gerar Boleto</button>
                </div>

            </form>


        </div>


        <div class="tab-pane fade " id="cartao" role="tabpanel" aria-labelledby="nav-cartao-tab">


            <form class=" col-md-12 mt-2">
                <div class="form-row d-flex justify-content-center">
                    <div class="form-group col-md-4">
                        <label for="inputnum">Número do cartão</label>
                        <input type="text" class="form-control borda" id="inputnum" placeholder="Ex: xxxx xxxx xxxx xxxx">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputNomeC">Nome do cartão</label>
                        <input type="numero" class="form-control borda" id="inputNomeC" placeholder="Ex: Fulano da Silva">
                    </div>
                </div>

                <div class="form-row d-flex justify-content-center">
                    <div class="form-group col-md-2">
                        <label for="inputMes">Mês de validade</label>
                        <input type="text" class="form-control borda" id="inputEndereco" placeholder="Ex: 05">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputNumero">Ano de validade</label>
                        <input type="numero" class="form-control borda" id="inputNumero" placeholder="Ex: 2021">
                    </div>

                    <div class="form-group col-md-2">
                        <label for="inputNumero">CVV</label>
                        <input type="numero" class="form-control borda" id="inputNumero" placeholder="Ex: 123">
                    </div>
                </div>


                <div class="d-flex justify-content-center ">
                    <button type="button" class="btn btn-danger mx-5">Cancelar</button>
                    <button routerLink='/concluir-compra' type="button" class="btn btn-success ">Pagar</button>
                </div>
            </form>



        </div>
    </div>
</div>

<!-- /nav -->