button {
  border-radius: 15px;
}

.card {
  border-radius: 15px;
}

input, textarea, select {
  border-radius: 15px;
  border: 2px solid;
  border-color: #ABABAB;
  overflow-y: hidden;
}

.btn {
  background-color: #E06767;
  color: white;
}