.btn {
  border-radius: 15px;
  background-color: #E06767;
  color: white;
}

.card {
  border-radius: 15px;
}

input, textarea, select {
  border-radius: 15px;
  border: 2px solid;
  border-color: #ABABAB;
  overflow-y: hidden;
}

input:focus{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  transition: 0.5s;
}

input::selection {
  color: white;
  background: #E06767;
}

input:hover{
  border-color: #E94C4C;
  transition:0.25s;
}

textarea:focus{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  transition: 0.5s;
}

textarea:active{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  transition: 0.5s;
}

textarea::selection {
  color: white;
  background: #E06767;
}

textarea:hover{
  border-color: #E94C4C;
  transition:0.25s;
}

select:focus {
  border-radius: 0px;
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  transition: 0.5s;
}

select:active{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  transition: 0.5s;
}

select::selection {
  color: white;
  background: #E06767;
}

select:hover{
  border-color: #E94C4C;
  transition:0.25s;
}

.btn:hover{
  color: white;
  box-shadow: rgb(255, 0, 0) 0px 0px 5px;
  transition: 0.25s;
}

.btn:active{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

.btn:focus{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

.head{
  background-color: #E94C4C;
}

.head:hover{
  background-color: red;
  transition: 0.5s;
}

.btn-sucesso {
  background-color: #28a745;
  color: white
}

.btn-sucesso:hover {
  box-shadow: rgb(0, 255, 0) 0px 0px 7px;
  transition: 0.25s;
}

.btn-sucesso:active {
  box-shadow: #28a745 0px 0px 20px;
  border-color: #22ac42;
  background-color: #22ac42;
  transition: 0.5s;
}

.btn-sucesso:focus {
  box-shadow: #28a745 0px 0px 20px;
  border-color: #22ac42;
  background-color: #22ac42;
  transition: 0.5s;
}

.cursor {
  cursor: pointer;
}