<div class="container-fluid" id="bg-img">

    <div class="row">
        <div class="col-md-12 pl-0">
            <a type="button" class="btn btn-voltar btn-lg text-white f-20 px-5"><i
                    class="fas fa-chevron-left pr-3"></i>Voltar</a>
        </div>
    </div>

    <div class="container blur">
        <div class="row">
            <div class="col-md-6 p-5">
                <h1 class="text-center mt-5 pt-5 font-weight-bold">Já Sou Cliente</h1>
                <p class="text-center">Acesse agora a sua conta para aproveitar as ofertas</p>
                <div class="form-group p-5">
                    <label class="pl-3" for="email">E-mail</label>
                    <input class="form-control" type="email" nome="email" id="email" placeholder="Digite seu e-mail">

                    <label class="pl-3 pt-3" for="password">Senha</label>
                    <input class="form-control" type="password" nome="password" id="password"
                        placeholder="Digite sua senha">

                    <div class="d-flex justify-content-center p-5">
                        <button type="button" class="btn btn-lg btn-entrar text-white px-5">Entrar</button>
                    </div>
                </div>

            </div>

            <div class="col-md-6 linha-vertical">
                <h1 class="text-center pt-5 font-weight-bold">Sou um Novo Cliente</h1>
                <div class="form-group p-5">
                    <label class="pl-3" for="nome">Nome Completo</label>
                    <input class="form-control" type="text" nome="nome" id="nome"
                        placeholder="Digite seu nome completo">

                    <label class="pl-3 pt-3" for="apelido">Apelido</label>
                    <input class="form-control" type="text" nome="apelido" id="apelido"
                        placeholder="Digite seu nome que deseja no sistema">

                    <label class="pl-3 pt-3" for="email">E-mail</label>
                    <input class="form-control" type="email" nome="email" id="email" placeholder="Digite seu e-mail">

                    <label class="pl-3 pt-3" for="password">Senha</label>
                    <input class="form-control" type="password" nome="password" id="password"
                        placeholder="Digite sua Senha">

                    <label class="pl-3 pt-3" for="confirmPassword">Confirmar Senha</label>
                    <input class="form-control" type="password" nome="confirmPassword" id="confirmPassword"
                        placeholder="Confirme sua senha">

                    <div class="form-check pt-4 pl-5">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Aceito o uso dos meus dados
                        </label>
                    </div>

                    <div class="d-flex justify-content-center p-5">
                        <button type="button" class="btn btn-lg btn-entrar text-white px-5">Cadastrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>