#bg-img {
    background-image: url(../../assets/img/background.png);

    min-height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    background-color: #E06767;
}

#btn-voltar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 25px;
}

#p-voltar {
    padding: 0;
    margin: 0;
    font-size: 24pt;
}

.fas {
    font-size: 40px;
}

.card {
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.blur {
    background-color: rgba(241, 241, 241, 0.888);
    border: 1px;
}

.linha-vertical {
    height: 100%;
    border-left: 2px solid rgba(128, 128, 128, 0.404);
}

.font-size {
    font-size: 14pt;
}

input {
    border-radius: 50px;
    border: 2px solid;
    border-color: #ABABAB;
}
