<div class="container-fluid my-4 px-5">

  <div class="row d-flex justify-content-around">
    <div class="col-md-8 card bg-light align-self-start">
      
      <div class="container-fluid">
        <div class="row d-flex justify-content-around align-items-center p-3">
          <div class="col-md-9 col-sm-12 d-flex justify-content-start font-weight-bolder">
            Total de itens: {{totalMedicamento}}
          </div>
          <div class="col-md-2 col-sm-12">
            <button class="btn  btn-block" (click)='clear()'>Remover Todos</button>
          </div>
        </div>

        <div class="container-fluid">
          <!-- For de Produtos -->
          <div class="row d-flex justify-content-center py-2 m-0" *ngFor='let med of medicamentos'>
            <div class="col-md-11 card">
              <div class="row p-1 d-flex align-items-center">
                <div class="col-md-2 d-flex justify-content-center">
                  <picture><img class="img-fluid" src="{{med.foto}}" alt="Produto"></picture> 
                </div>
                <div class="col-md-3 d-flex align-items-center p-0 justify-content-center">
                  <p class="text-center">{{med.nome}}</p>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <p class="text-black-50">R$ {{med.precoUni.toLocaleString('pt-br', {minimumFractionDigits: 2})}}</p>
                </div>
                <div class="col-md-2 d-flex">
                  <button class="btn  btn-block text-center p-0 btnMenos" (click)='dec(med.nome, med.qtd)'>
                    -
                  </button>
                  <input class="form-control text-center rounded-0" value="{{med.qtd}}" disabled/>
                  <button class="btn  btn-block text-center p-0 btnMais" (click)='inc(med.nome, med.qtd)'>
                    +
                  </button>
                </div>
                <div class="col-md-2 p-0 d-flex justify-content-center">
                  <p class="text-black-50">R$ {{med.precoTotal.toLocaleString('pt-br', {minimumFractionDigits: 2})}}</p>
                </div>
                <div class="col-md-1 p-0 d-flex justify-content-center">
                  <a (click)='delete(med.nome)'>
                    <i class="far fa-trash-alt"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Fim do For de Produtos -->
        </div>
      </div>
    </div>

    <div class="col-md-2 d-flex justify-content-center align-self-start">
      <div class="container p-0">
        <div class="row d-flex card bg-light p-3">
          <div class="col-md-12">
            <div class="row d-flex justify-content-around">
              <div class="col-md-12">
                <h5 class="text-center">Calcular frete</h5>
              </div>
            </div>
            <hr />
            <div class="row d-flex justify-content-around">
              <div class="col-md-9 p-0 mr-0 d-flex align-items-center">
                <input class="form-control input-lg pr-0 input-cep" type="text" placeholder="00000-000" />
              </div>
              <div class="col-md-3 p-0 ml-0">
                <button class="btn  btn-block btnOK pl-0">OK</button>
              </div>
            </div>
            <div class="row d-flex justify-content-around mt-2">
              <div class="col-md-8">
                <p class="font-weight-bolder text-left">Prazo de entrega</p>
              </div>
              <div class="col-md-4">
                <p class="text-right">5 horas</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row d-flex card bg-light mt-3 p-3 text-center justify-content-center">
          <p class="p-0 m-0">Insira um único  PDF com as receitas</p>
          <div class="input-group my-2">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02" accept=".pdf">
              <label class="custom-file-label text-left" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Escolher arquivo</label>
            </div>
          </div>
          
        </div>
        <div class="row d-flex card bg-light mt-3 p-3">
          <div class="col-md-12">
            <div class="row d-flex justify-content-center">
              <h5 class="text-center">Resumo do Pedido</h5>
            </div>
            <hr />
            <div class="row d-flex justify-content-around">
              <div class="col-6">
                <p class="text-black font-weight-bold">Subtotal</p>
              </div>
              <div class="col-6">
                <p class="text-black text-right">R$ {{subtotal.toLocaleString('pt-br', {minimumFractionDigits: 2})}}</p>
              </div>
            </div>
            <div class="row d-flex justify-content-around">
              <div class="col-6">
                <p class="text-black font-weight-bold">Frete</p>
              </div>
              <div class="col-6">
                <p class="text-black text-right">Gratis</p>
              </div>
            </div>
            <hr />

            <div class="row d-flex justify-content-around">
              <div class="col-6">
                <p class="text-black font-weight-bold">Total ({{totalMedicamento}})</p>
              </div>
              <div class="col-6">
                <p class="text-black text-right">R$ {{total.toLocaleString('pt-br', {minimumFractionDigits: 2})}}</p>
              </div>
            </div>
            <hr />
            <div class="row d-flex justify-content-center">
              <div class="col-md-9">
                <button  routerLink='/produtos' class="btn btn-block">Continuar Comprando</button>
                <button routerLink='/pagamento' class="btn btn-block">
                  Fechar Carrinho!
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>