p {
  margin-bottom: 0px;
}

button {
  border-radius: 15px;
  background-color: #E06767;
  color: white
}

button:hover {
  color:white;
  box-shadow: rgb(255, 0, 0) 0px 0px 5px;
  transition: 0.25s;
}

button:active {
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

button:focus {
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

input {
  border-radius: 15px;
  border: 2px solid;
  border-right: 0px;
  border-color: #ABABAB;
}

input:focus{
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  transition: 0.5s;
}

input::selection {
  color: white;
  background: #E06767;
}

input:hover{
  border-color: #E94C4C;
  transition:0.25s;
}

.qtd {
  border: none;
}

img {
  border-radius: 15px;
}

.far {
  font-size: 15pt;
}

.far:hover {
  cursor: pointer;
  font-size: 15pt;
  color: #E06767;
}


.card {
  border-radius: 15px;
}

.input-cep {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btnOK{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btnMais {
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btnMenos {
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
