<div class="container-fluid align-items-center justify-content-center p-4" id="img-bg">
    <div class="px-4 md-3 mt-3 pt-5 container "></div>
    <div class="row d-flex justify-content-center align-items-center p-4">
    </div>
    <div class=" container text-align: center bg-light card">
        <div class="col mx-auto text-center">
            <h1 class="text-align: right d-flex justify-content-center pt-4 ">SEU CARRINHO ESTÁ VAZIO!</h1>
        </div>
        <div class="row-reverse">
        </div>
        <div class="d-flex justify-content-center">
            <p class="text-center font-weight-bold">Para continuar comprando, navegue pelas categorias do site ou faça
                uma busca pelo seu produto.</p>
        </div>
        <div class="d-flex justify-content-center">
            <button type class="borda btn btn-danger" routerLink='/produtos'> <i class=""></i> Escolha seu produto </button>
        </div>
        <div class="mt-1 px-5 container "></div>
    </div>
</div>