.font-cart {
  font-size: 150pt;
}

.font-certo {
  font-size: 90pt;
  color: red;
}

.baseline {
  align-self: baseline;
}

.card {
  border-radius: 15px;
}

.button {
  font-size: 25px;
}

button:hover {
  box-shadow: rgb(255, 0, 0) 0px 0px 5px;
  transition: 0.25s;
}

button:active {
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

button:focus {
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

.borda {
  background-color: #E06767;
  border-radius: 15px;
  border-color: #E06767 (0, 0, 0);
  align-self: center;
  color: white;
}

.bg-white {
  border-radius: 15px;
}
