button{
    border-radius: 15px;
  }

  .card{
    border-radius: 15px;
  }

  input {
    border-radius: 15px;
    border: 2px solid;
    border-color: #ABABAB;
  }

  .btn {
    background-color: #E06767;
    color: white;
  }

  select {
    border-radius: 15px;
    border: 2px solid;
    border-color: #ABABAB;
  }