<div class="container-fluid mt-3 card bg-light">
  <div class="row d-flex justify-content-center m-3">
    <h1 class="text-center">Adicionar Doença</h1>
    <div class="col-md-12">
      <div class="row d-flex">
        <div class="col-md-4">
          <label for="nome" class="no-gutter m-0">Nome:</label>
          <input
            [(ngModel)]="doenca.nome"
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            placeholder="Nome da Doenca"
          />
        </div>
        <div class="col-md-4">
          <label for="descricao" class="no-gutter m-0">Descricao:</label>
          <input
            [(ngModel)]="doenca.descricao"
            type="text"
            class="form-control"
            name="descricao"
            id="descricao"
            placeholder="Descricao da Doenca"
          />
        </div>
        <div class="col-md-4">
          <label for="trasmissivel" class="no-gutter m-0">Transmissivel?</label>
          <select
            [(ngModel)]="doenca.transmissivel"
            class="form-control"
            name="transmissivel"
            id="transmissivel"
          >
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-2">
          <button
            type="submit"
            class="btn btn-success btn-block"
            (click)="cadastrarDoenca()"
          >
            Enviar
          </button>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-danger btn-block">Limpar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex card m-2">
    <div class="col-md-12 d-flex justify-content-center">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Trasmissivel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of listaDoenca">
            <th scope="row">{{ i.id }}</th>
            <td>{{ i.nome }}</td>
            <td>{{ i.descricao }}</td>
            <td>{{ i.transmissivel }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
