button{
    border-radius: 15px;
    background-color: #E06767;
    color: white;
  }

  .card{
    border-radius: 15px;
  }

  .cursor{
    cursor:pointer;
  }

  input {
    border-radius: 15px;
    border: 2px solid;
    border-color: #ABABAB;
  }

  input:focus{
    box-shadow: #E06767 0px 0px 20px;
    border-color: #E94C4C;
    transition: 0.5s;
  }

  input::selection {
    color: white;
    background: #E06767;
  }

  input:hover{
    border-color: #E94C4C;
    transition:0.25s;
  }

  button:hover{
    box-shadow: rgb(255, 0, 0) 0px 0px 5px;
    transition: 0.25s;
  }
  
  button:active{
    box-shadow: #E06767 0px 0px 20px;
    border-color: #E94C4C;
    background-color: #E94C4C;
    transition: 0.5s;
  }
  
  button:focus{
    box-shadow: #E06767 0px 0px 20px;
    border-color: #E94C4C;
    background-color: #E94C4C;
    transition: 0.5s;
  }

  select {
    border-radius: 15px;
    border: 2px solid;
    border-color: #ABABAB;
  }

  .head{
    background-color: #E94C4C;
  }
  
  .head:hover{
    background-color: red;
    transition: 0.5s;
  }