button{
    border-radius: 15px;
  }

  .card{
    border-radius: 15px;
  }

  .cursor{
    cursor:pointer;
  }

  input {
    border-radius: 15px;
    border: 2px solid;
    border-color: #ABABAB;
  }

  input:focus{
    box-shadow: #E06767 0px 0px 20px;
    border-color: #E94C4C;
    transition: 0.5s;
  }

  input::selection {
    color: white;
    background: #E06767;
  }

  input:hover{
    border-color: #E94C4C;
    transition:0.25s;
  }

  .btn {
    background-color: #E06767;
    color: white;
  }

  select {
    border-radius: 15px;
    border: 2px solid;
    border-color: #ABABAB;
  }