/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    min-height: 100vh;
}

div{
    font-family: 'Arimo', sans-serif;
}

img:before {
    content: ' ';
    display: block;
    position: absolute;
    background-image: url("./assets/img/icon/cart.png");
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #ffffff;
    
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #b1b1b1;
    border: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #535353; 
  }

/*html {
    scroll-behavior: smooth;
}*/