<div class="container card bg-light mt-3 p-3">
  <div class="row d-flex justify-content-center">
    <h3 class="text-center">Adicionar Doença</h3>
  </div>
  <div class="row d-flex card m-2">
    <div class="col-md-12">
      <form class="form-group p-2">
        <div class="row d-flex">
          <div class="col-md-6">
            <label for="nome" class="no-gutter m-0">Produto:</label>
            <input
              [(ngModel)]="medicamento.nome"
              type="text"
              class="form-control"
              id="nome"
              name="nome"
              placeholder="Nome do Produto"
            />
          </div>
          <div class="col-md-6">
            <label for="foto" class="no-gutter m-0">Foto:</label>
            <input
              [(ngModel)]="medicamento.foto"
              type="text"
              class="form-control"
              name="foto"
              id="foto"
              placeholder="link do imgur"
            />
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-md-3 my-3">
            <label for="desc" class="no-gutter m-0">Descrição:</label>
            <textarea
            [(ngModel)]="medicamento.descricao"
            type="text"
            class="form-control"
            id="desc"
            name="desc"
            placeholder="Insira a descrição do produto"
            rows=3
          ></textarea>
          </div>
          <div class="col-md-3 my-3 d-flex align-items-start">
            <label for="selectdoencas" class="p-1 d-flex align-items-start">Doença: </label>
            <select
              [(ngModel)]="medicamento.doencas"
              name="selectdoencas"
              id="selectdoencas"
              class="form-control"
              multiple
            >
              <option *ngFor='let i of listaDoenca' [ngValue]="i">{{ i.nome }}</option>
            </select>
          </div>
          <div class="col-md-3 my-3">
            <label for="preco" class="no-gutter m-0">Preço: </label>
            <input
              [(ngModel)]="medicamento.preco"
              type="text"
              class="form-control"
              id="preco"
              name="preco"
              placeholder="0.00"
            />
          </div>
          <div class="col-md-3">
            <label for="categoria" class="no-gutter m-0">Categoria: </label>
            <select
              [(ngModel)]="medicamento.categoria"
              name="categoria"
              id="categoria"
              class="form-control"
            >
              <option class="form-control">Referência</option>
              <option class="form-control">Genérico</option>
              <option class="form-control">Similar</option>
            </select>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-2">
            <button
              type="submit"
              class="btn btn-success btn-block"
              (click)="cadastrarProd()"
            >
              Enviar
            </button>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-danger btn-block">
              Limpar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row d-flex card m-2">
    <div class="col-md-12 d-flex justify-content-center">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Medicamento</th>
            <th scope="col">Preço</th>
            <th scope="col">Doença</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let i of listaMedicamento'>
            <th scope="row">{{ i.nome }}</th>
            <td>{{ i.preco }}</td>
            <td>{{ i.doencas }}</td>
            <td>{{ i.categoria }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
      <div class="row d-flex">
        <div class="col-md-4">
          <label for="nome" class="no-gutter m-0">Nome:</label>
          <input [(ngModel)]="doenca.nome" type="text" class="form-control" id="nome" name="nome"
            placeholder="Nome da Doenca" />
        </div>
        <div class="row d-flex justify-content-center mt-3">
          <div class="col-md-2">
            <button
              type="submit"
              class="btn btn-success btn-block"
              (click)="cadastrarDoenca()"
            >
              Enviar
            </button>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-danger btn-block">
              Limpar
            </button>
          </div>
    </div>
  </div>