button {
  border-radius: 15px;
}

.jumbotron {
  background-color: #A0E2F7;
}

.jumbotron3 {
  align-self: center;
  background-color: #e06767;
  margin: auto;
}

.borda {
  border-radius: 15px;
}

/*Card */

#modelo {
  margin-right: 0px;
}

.carta {
  /* opacity: 0; */
  /* visibility: hidden; */
  /* position: absolute; */
  padding: 2rem;
  transition: all .5s;
}




/*desktop*/
@media screen and (min-width: 990px) and (max-width: 9998px) {


  /*Jubotron com a imagem*/
  #imagem1 {
    background-image: url("https://i.imgur.com/JCYGBB3.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  .card-container {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    padding: 1.5rem;
    padding-bottom: 2px;
  }

  .card {
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.2s;
    margin: 5px;
}

  .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
  }

  .img-resp {
    width: 12rem;
  }

  *{
    scrollbar-width: thin;
    scrollbar-color: #33B3DC ;
    
  }
    
    *::-webkit-scrollbar {
      height: 10px;
      width: 5px;
    }
    
    *::-webkit-scrollbar-track {
      background: #ffffff;
      
    }
    
    *::-webkit-scrollbar-thumb {
      background-color: #33B3DC;
      border-radius: 20px;
      transition: 2s;
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: #2890b3; 
      transition: 2s;
    }
}

/*mobile*/
@media screen and (min-width: 0px) and (max-width: 990px) {

  /*Jubotron com a imagem*/
  #imagem1 {
    background-image: url("https://i.imgur.com/iZf62jN.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  .fonte {
    font-size: 15pt;
    font-style: italic;
  }

  .img-resp {
    width: 15rem;
  }

  .card-ajuste {
    padding: 5rem;
  }


  .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
  }

}
