<!-- Carrosel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 height: auto;" src="https://i.imgur.com/L5FCaG4.jpg?2" alt="Primeiro Slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 height: auto;" src="https://i.imgur.com/qKxiTST.jpg?1" alt="Segundo Slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 height: auto;" src="https://i.imgur.com/4hgeOeR.png?1" alt="Terceiro Slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 height: auto;" src="https://i.imgur.com/ZUh9t0e.png?1" alt="Quarto Slide" />
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<!--/Carrosel-->

<!--Jumbotrom-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-4 font-italic">Destaques da Semana</h3>
  </div>
</div>
<!--/Jumbotrom-->
<br />

<!--Card 1-->
<div class="card-container mb-5" id="modelo">
  <div class="card" *ngFor="let medicamento of listaMedicamentosDesc">
    <img  width="300px" height="300px" class="card-img-top" src="{{medicamento.foto}}" alt="Imagem de capa do card" />
    <div class="card-body carta">
      <h5 class="card-title">{{medicamento.nome}}</h5>
      <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#ExemploModalCentralizado">
        Detalhes
      </button>
    </div>
  </div>
</div>

<!--/Card 1-->

<!-- Jumbotrom 2-->
<div id="imagem1" class="jumbotron jumbotron-fluid">
  <div class="container imagem">
    <img src="" alt="" />
  </div>
</div>
<!--/Jumbotrom 2-->

<!--Card 2-->
<h1 class="text-center font-weight-bold font-italic">Outros produtos</h1>
<div class="card-container mb-5 lista" id="modelo">
  <div class="card" *ngFor="let medicamento of listaMedicamentosProm">
    <img  width="300px" height="300px" class="card-img-top" src="{{medicamento.foto}}" alt="Imagem de capa do card" />
    <div class="card-body carta">
      <h5 class="card-title">{{medicamento.nome}}</h5>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
        Detalhes
      </button>
    </div>
  </div>
</div>
<!--/Card 2-->

<!--Jumbotrom 3 / Newsletter-->
<div class="jumbotron3 my-5 p-3">
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-12">
        <h3 class="text-black text-center font-weight-bold">
          Inscreva-se no nosso newsletter para receber notícias e novidades.
        </h3>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around p-2">
      <div class="col-lg-8 col-sm-6">
        <div class="row d-flex m-2">
          <div class="col-12">
            <input type="text" class="form-control borda" id="InputNome" placeholder="Nome" />
          </div>
        </div>
        <div class="row d-flex m-2">
          <div class="col-12">
            <input type="email" class="form-control borda" id="exampleEmail" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <button type="submit" class="btn btn-primary btn-block p-4 borda">Increver</button>
      </div>
    </div>
  </div>
</div>
<!-- /Jumbotrom -->