
/* Jumbotron */
#imagem1 {
    background-image: url("https://i.imgur.com/dfTDjV4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }

    .jumbotron{
        background-color: #A0E2F7;
    }

    .jumbotron3{
        
        align-self: center;
        background-color: #e06767;
        width: 80%;
        margin: auto;
    }

    .borda{
        border-radius: 15px;
    }

    /*Card */

    #modelo{
        margin-right: 0px;
        
    }

    /* Carrosel */

  