<!--drop e titulo -->

<div class="d-flex justify-content-around mt-4">
    <h4 *ngIf="status == true" class="d-flex justify-content-end mr-4">Estes medicamento são recomendados
        para a(o) {{doenca.nome}}
    </h4>
    <h4 *ngIf="status == false" class="d-flex justify-content-end mr-4">Todos os medicamentos
    </h4>
    <div class="d-flex justify-content-end">
        <div class="dropdown mx-2">
            <a class="btn bg-corDrop dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar
            </a>

            <div class="dropdown-menu custom-drop" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" (click)="findByTipo('Genérico')">Genérico</a>
                <a class="dropdown-item" (click)="findByTipo('Similar')">Similar</a>
                <a class="dropdown-item" (click)="findByTipo('Referência')">Referência</a>
            </div>
        </div>
        <div class="dropdown mx-2 ">
            <a class="btn bg-corDrop dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Listar por
            </a>

            <div class="dropdown-menu custom-drop" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" (click)="listForDesc()">Maior Preço</a>
                <a class="dropdown-item" (click)="listForAsc()">Menor Preço</a>
            </div>
        </div>
    </div>
</div>



<!-- Lista e Medicamentos -->

<div class="mt-5 text-center container-fluid">
    <div class="row d-flex">
        <div class="col-md-2 mx-5">
            <div class="list-group bordaList corList">
                <button type="button" class=" corList text-light list-group-item list-group-item-action " disabled>
                    <h3>Categoria de Medicamentos</h3>
                </button>
                <a type="button" class="corList text-light list-group-item list-group-item-action"
                    (click)="findAllMedicamentos()">Todos os Medicamentos</a>
                <a *ngFor='let doenca of listaDoenca' type="button"
                    class="corList text-light list-group-item list-group-item-action"
                    (click)="filterDoenca(doenca.id)">{{doenca.nome}}</a>

            </div>
        </div>

        <div class="col-md-9 d-flex flex-wrap ">
            <div *ngFor='let medicamento of listaMedicamentos' class="card m-2 mb-4" style="width: 13rem;">
                <img width="200px" height="200px" class="card-img-top" src={{medicamento.foto}}
                    alt="{{medicamento.nome}}">
                <div class="card-body pb-0 d-flex align-items-center justify-content-center">
                    <h5 class="card-title">{{medicamento.nome}}</h5>
                </div>
                <div>
                    <div class="p-0">
                        <div class="container-fluid">
                            <div class="row d-flex align-items-stretch">
                                <div class="col-md-6 p-0 align-items-stretch"><button type="button"
                                        class="btn btn-block button2">R$
                                        {{medicamento.preco.toLocaleString('pt-br', {minimumFractionDigits: 2})}}
                                    </button>
                                </div>
                                <div data-target="#ModalDetalhes" data-toggle="modal"
                                    (click)='findByIdMedicamento(medicamento.id)'
                                    class="col-md-6 p-0 align-self-stretch"><button type="button"
                                        class="btn btn-block button1">DETALHES</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor='let medicamento of doenca.medicamentos' class="card m-2 mb-4" style="width: 13rem;">
                <img width="200px" height="200px" class="card-img-top" src={{medicamento.foto}}
                    alt="{{medicamento.nome}}">
                <div class="card-body pb-0 d-flex align-items-center justify-content-center">
                    <h5 class="card-title">{{medicamento.nome}}</h5>
                </div>
                <div>
                    <div class="p-0">
                        <div class="container-fluid">
                            <div class="row d-flex align-items-stretch">
                                <div class="col-md-6 p-0 align-items-stretch"><button type="button"
                                        class="btn btn-block button2">R$
                                        {{medicamento.preco.toLocaleString('pt-br', {minimumFractionDigits: 2})}}
                                    </button>
                                </div>
                                <div data-target="#ModalDetalhes" data-toggle="modal"
                                    (click)='findByIdMedicamento(medicamento.id)'
                                    class="col-md-6 p-0 align-self-stretch"><button type="button"
                                        class="btn btn-block button1">DETALHES</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="d-flex justify-content-end mx-5 my-3"><a class="text-black voltar-top"
                    (click)='voltarTopo()'>Voltar ao topo</a></p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalDetalhes" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Medicamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="row d-flex align-items-center">
                    <div class="col-6 ">
                        <img width="250px" height="250px" src={{medicamento.foto}} loading="eager">
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2 class="font-weight-bold">{{medicamento.nome}}</h2>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 text-justify">
                                <p>Descrição: {{medicamento.descricao}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row d-flex justify-content-end mb-4">
                <div class="col-6 d-flex justify-content-start align-items-center p-0">
                    <p class="m-0 mr-2">Preço: R$ {{medicamento.preco}}</p>
                </div>
                <div class="col-3 d-flex align-items-center p-0">
                    <label class="m-0 mr-2" for="qtd">Quantidade:</label>
                    <input [(ngModel)]='qtd' class="form-control" type="number" min="1" name="qtd" id="qtd">
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-modal text-white" data-dismiss="modal"
                        (click)='addCarrinho(medicamento.id)'>Comprar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <p class="mb-2 mr-5" *ngIf="validacaoQTD() == true">Insira um valor acima de 1</p>
                </div>
            </div>

        </div>
    </div>
</div>