<div class="container my-5 p-5 text-align-center bg-light card">
  <div class="row-reverse">
    <div class="d-flex justify-content-center text-center icon-cart img-fluid">
      <img src="../../assets/img/icon/cart.png" width="200px" height="200px" />
    </div>

    <h1 class="text-align: right d-flex justify-content-center">Parabéns</h1>
    <h2 class="d-flex justify-content-center">
      A sua compra foi efetuada com sucesso
    </h2>

    <div class="d-flex justify-content-center">
      <button routerLink="/home" type class="btn button">
        <i class="fas fa-home"></i> Página inicial
      </button>
    </div>
  </div>
</div>
