.baseline {
  align-self: baseline;
}

.card{
  border-radius: 15px;
}

button {
  border-radius: 15px;
}

button:hover {
  color:white;
  box-shadow: rgb(255, 0, 0) 0px 0px 5px;
  transition: 0.25s;
}

button:active {
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

button:focus {
  box-shadow: #E06767 0px 0px 20px;
  border-color: #E94C4C;
  background-color: #E94C4C;
  transition: 0.5s;
}

/*mobile*/
@media screen and (min-width: 0px) and (max-width: 990px) {
    .button {
        color: #ffffff;
        background-color: #E06767;
        font-size: 10pt;
        border-radius: 50px;
        width: 50%;
        margin-bottom: 15px;
      }
}
/*desktop*/
@media screen and (min-width: 990px) and (max-width: 9998px) {
    .button {
        color: #ffffff;
        background-color: #E06767;
        font-size: 15pt;
        border-radius: 50px;
        width: 25%;
        margin-bottom: 15px;
      }

      .btn:hover{
        box-shadow: rgb(255, 0, 0) 0px 0px 5px;
        transition: 0.25s;
      }
      
      .btn:active{
        box-shadow: #E06767 0px 0px 20px;
        border-color: #E94C4C;
        background-color: #E94C4C;
        transition: 0.5s;
      }
      
      .btn:focus{
        box-shadow: #E06767 0px 0px 20px;
        border-color: #E94C4C;
        background-color: #E94C4C;
        transition: 0.5s;
      }
}
